
                <form action="">
                    <input type="text" name="username" id="username" placeholder="Username"  /> 
                    <div class="usernameerror" style="margin-top: 5px; color: red; font-weight:bold"></div>
                   <input type="text" name="email" id="email" placeholder="Email" required /> 
                   <div class="emailerror" style="margin-top: 5px; color: red;font-weight:bold"></div>
                    <input type="password" name="password" id="password" placeholder="Password" required> 
                    <div class="passworderror" style="margin-top: 5px; color: red;font-weight:bold"></div>
                    <button class="btn brown darken-1" type="submit"><i class="fas fa-user left"></i>Sign up</button><br>
                    <div style="margin-top: 20px;">   <span>already have an account? </span><a href="/login/">Log In</a> </div>


                </form>
        
 <script>

        const form = document.querySelector('form');
        const EmailErr = document.querySelector('div.emailerror');
        const PassErr = document.querySelector('div.passworderror');
        const UserErr = document.querySelector('div.usernameerror');

            form.addEventListener('submit',  async (e)=>{
              e.preventDefault();

              EmailErr.textContent = '';
              PassErr.textContent = '';

              const username = form.username.value;
              const email = form.email.value;
              const password = form.password.value;

              //console.log(username,email, password);
              try{
                  const res = await fetch('/signup', {
                  method: 'POST',
                  body: JSON.stringify({username, email, password}),
                  headers:  {'Content-Type' : 'application/json' }
                  
                });
                const data = await res.json();
               
                 if(data.errors){
                   EmailErr.textContent = data.errors.email;
                   PassErr.textContent = data.errors.password;
                   UserErr.textContent = data.errors.username;
                 }
                 if (data.user){
                   location.assign('/login');
                 }


              }catch (eer){
                  console.log(err)
              }
            })
</script>          