
<div class="container lg-container">
        <div class="card">
            <div class="card-content">
                <form action="">
                    <input type="text" name="username" id="username" placeholder="Username"  /> 
                   <input type="text" name="email" id="email" placeholder="Email" required /> 
                   <div class="emailerror" style="margin-top: 5px; color: red;"></div>
                    <input type="password" name="password" id="password" placeholder="Password" required> 
                    <div class="passworderror" style="margin-top: 5px; color: red;"></div>
                    <button class="btn brown darken-1" type="submit"><i class="fas fa-user left"></i>Sign up</button><br>
                    <div style="margin-top: 20px;">   <span>already have an account? </span><a href="/login/">Log In</a> </div>


                </form>
            </div>

        </div>
